@font-face {
    font-family: font;
    src: url(Heading-Now-Variable.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: #fff;
 
}
.main{
    background-color: #000;
}

html,
body {
    width: 100%;
    height: 100%;
}

.page1 {
    height: 120vh;
    width: 100%;
    background-color: #000;
    overflow: hidden;



}

.page1 h1 {
    color: #fff;
    font-size: 35vw;
    text-transform: uppercase;
    font-family: font;
    white-space: nowrap;
    font-stretch: 260%;
    font-weight: 999;
}

.page2 {
    height: 100vh;
    width: 100%;
}

.page3 {
    height: 100vh;
    width: 100%;
    background-color: #000;
}
.nav {
    width: 100%;
    height: 70px;
   
    padding-left: 30px;
    padding-top: 70px;
    padding-right: 60px;
    display: flex;
    align-items: center;
    justify-content: space-between;
   
}
.nav h3{
    font-size: 30px;
    font-family: font;
    font-stretch: 804.438%;
    font-weight: 300;
    position: relative;
}
.nav h3 span{
    font-size: 7px;
    font-stretch: 800%;
    position: absolute;
    left:116px;
    top: 7px;
    
}
.nav .part1{
   
display: flex;
align-items: center;
justify-content: center;
gap: 50px;

}
.part1 h3{
    font-size: 20px;
    font-weight: 200;
}
.part3{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
}
video{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}