*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Gilroy";
}
html, body{
    width: 100%;
    height: 100%;

}
body{
    background-color: rgb(99, 220, 99);
    display: flex;
    justify-content: center;
    align-items: center;
}
.main
{
    height: 80%;
    width: 80%;
    background-color: #fff;
    border-radius: 15px;
    overflow: hidden;
}
.panel{
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:center;
    gap: 55px;
    background-color: rgba(2, 80, 2, 0.953);
}
.status{
    color: #fff;
    display: flex;
    gap: 10px;
}
.status h3{
    margin-top: 5px;
    font-size: 17px;
    font-weight: 400;
}
.val{
  width: 30px;
 display: flex;
 align-items: center;
 justify-content: center;
  height: 30px;
 
   background-color: #fff;
   overflow: hidden;
   color: #000;
}
.bottom
{
    height: calc(100% - 80px);
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px;
    gap: 10px;
    flex-wrap: wrap;
   background-attachment: scroll;
}
.bubble{
    height: 4vw;
    width: 4vw;
    background-color: #025002f3;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}
.bubble:hover{
    background-color: #013601f3;
}
.bubble h2{
    font-size: 22px;
    color: #fff;
    font-weight: 400;
}